:root {
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
}

body {
    width: 100%;
    height: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
}

#Title {
    padding-left: 5%;
    margin-bottom: -40px;
}


